vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Feb 2009 15:31:59 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|24 Feb 2009 15:31:59 -0000
vti_filesize:IR|2246
vti_backlinkinfo:VX|DSIFlightView/index.html
vti_syncwith_localhost\\c\:\\users\\suzanneschiemann\\documents\\my web sites\\mysite/c\:/users/suzanneschiemann/documents/my web sites/mysite:TR|24 Feb 2009 15:31:59 -0000
