.ffResult .original {
	color: #888;
	font-style: italic;
}


.ffResult .diversion {
	border: 1px solid #f00;
	padding: 0px 15px;
}



.ffResult .recovery {
	border: 1px solid #0f0;
	padding: 0px 15px;

}

.ffResult p {
	margin: 0px;
}

.ffResultList span.city, .ffResultIndividual span.city {
	text-transform: capitalize;
}


.ffResultList td.noflights {
	text-align: center;
	padding: 1ex;
	font-weight: bold;
}

.ffResultList form {
	display: inline;
	margin: 0px;
	padding: 0px;
}


.ffResultList div.sort img {
	border: 0px;
}


.ffResultList td {
	text-align: center;
}

.ffResultList div.header p.statusExplanation {
	font-size: .8em;
}


.ffResultIndividual table.infoHeader {
	width: 100%;
	margin-top: 2em;
}

.ffResultIndividual table.infoHeader th {
	width: 40%;
}

.ffResultIndividual table.infoHeader td {
	width: 60%;
	text-align: right;
	font-style: italic;
}

.ffResultIndividual table.info {
	width: 100%;
}

.ffResultIndividual table.info th {
	width: 40%;
}

.ffResultIndividual table.info td {
	width: 60%;
	text-align: center;
}